<section class="packages"  id="packages">
    <h1 class="heading">Cursos de Formacion Continua</h1>
    <div class="box-container testimonial-grid m-5">
        {{#each cursos2}}
            <div class="box mt-3 mb-5">
                <div class="image">
                    <img src="/uploads/{{img}}" alt="">
                </div>
                <div class="content">
                    <h3>{{title}}</h3>
                    
                    <p>{{descripcion}}</p>
                    <div class="price">{{moment fecha_in format="YYYY/MM/DD"}} - {{moment fecha_fin format="YYYY/MM/DD"}}</div>
                    <div class="price">Precio: {{costo}}</div>
                    <div class="price">Cupos: {{cupos}}</div>
                    <a href="detalles/{{id_curso}}" class="btn5">Ver mas</a>

                </div>
            </div>
        {{/each}}
    </div>
</section>
